:root {
    --primary-color: #4551ff;
    --secondary-color: #45439e;
    --tertiary-color: #292763;
    --background-color: #121220;
    --navbar-color: #212241;
    --text-color: #c2ccff;
    --secondary-text-color: #b6b6e9;
    --current-period-color: #8d85ff;
    --action-color: #3360c0;
    --action-hover-color: #111c6f;
    --user-color: #1b2ad0;
    --user-primary-color: #1b33d0;
    --highlighted-inner-user-color: #2b1b6d;
}
@media (prefers-color-scheme: light) {
    :root {
        --primary-color: #45ffb1;
        --secondary-color: #29ffa6;
        --tertiary-color: #59ffba;
        --background-color: #e3eeea;
        --navbar-color: #aaffe4;
        --text-color: #575757;
        --secondary-text-color: #575757;
        --current-period-color: #575757;
        --action-color: #60a5ff;
        --action-hover-color: #113a6f;
        --user-color: #60a5ff;
        --user-primary-color: #98c5ff;
        --highlighted-inner-user-color: #1ae094;
    }
}