:root {
    --primary-color: #4ef3a1;
    --secondary-color: #55bd87;
    --tertiary-color: #55a184;
    --success-color: #28a745;
    --info-color: #17a2b8;
    --warning-color: #ffc107;
    --danger-color: #dc3545;
    --text-color: #f8f9fa;
    --currentclass-text-color: #9bf6ff;
    --link-hover-color: #d9d9d9;
    --dark-color: #202221;
    --navbar-color: #485e53;
    --navbar-hover-color: #c3ffe7;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--dark-color);
    color: var(--text-color);
}
#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: var(--navbar-color);
    font-weight: bold;
    position: sticky;
    top: 0;
    z-index: 1000;
}
#navbar a {
    color: var(--text-color);
    text-decoration: none;
    padding: 10px;
    transition: color 0.3s;
}
#navbar a:hover {
    color: var(--navbar-hover-color);
}
#content {
    padding: 20px;
    text-align: center;
}
#classes, #users, div#classusers {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 20px;
}
.class, .user {
    padding: 20px;
    background-color: var(--secondary-color);
    border-radius: 5px;
    text-align: center;
    transition: background-color 0.3s;
}
.class[onclick]:hover {
    background-color: var(--tertiary-color);
}
#loginForm {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 300px;
    margin: 0 auto;
}
#username, #password {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid var(--secondary-color);
}
button, input[type="submit"] {
    padding: 7px;
    border-radius: 5px;
    border: none;
    background-color: var(--info-color);
    color: var(--text-color);
    cursor: pointer;
    transition: background-color 0.3s;
}
button:hover, input[type="submit"]:hover {
    background-color: var(--tertiary-color);
}
.currentclass {
    color: var(--currentclass-text-color);
}
button.danger {
    background-color: var(--danger-color);
}
button.danger:hover {
    background-color: var(--tertiary-color);
}
button.success {
    background-color: var(--success-color);
}
button.success:hover {
    background-color: var(--tertiary-color);
}
button.warning {
    background-color: var(--warning-color);
}
button.warning:hover {
    background-color: var(--tertiary-color);
}
div#classusers {
    grid-template-columns: repeat(auto-fill, minmax(110px, 1fr));
}
p.classuser {
    margin: 0;
    padding: 10px;
    background-color: var(--info-color);
    border-radius: 5px;
    text-align: center;
    transition: background-color 0.3s;
}