<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="manifest" href="https://class.trey7658.com/manifest.json" />
    <link rel="stylesheet" href="/indexa.css">
    <title>Admin</title>
    <script defer data-domain="class.trey7658.com" src="https://analytics.trey7658.com/js/script.js"></script>
</head>
<body>
    {% include 'navbar.html' %}
    <div id="content">
        <h1>Welcome, {{ username }}!</h1>
        <button onclick="window.location.href='/admin/backup'">Backup</button>
        <button onclick="window.location.href='/admin/changetimes'">Change times</button>
        <button onclick="window.location.href='/admin/createaccount'">Create account</button>
        <p id="csrf_token" style="display:none;">{{ csrf_token() }}</p>
        {% if messages | length > 0%}
            <h1>Messages</h1>
        {% endif %}
        {% for message in messages %}
            <p style="color: white;">{{ message }}</p><button onclick="removeMessage('{{message}}')">Remove</button>
        {% endfor %}
        {% if messages | length > 0%}
            <br><br>
        {% endif %}
        {% for type,trequests in requests.items() %}
        {% if trequests|length > 0 %}
            <h1>{{type}}</h1>
            <div id="{{type}}" style="border-radius: 10px; background-color: rgb(158, 158, 158); border: rgb(71, 71, 71) 2px solid; display: grid; grid-template-columns: 1fr 1fr; gap: 10px;">
                {% for id,request in trequests.items() %}
                    <div class="request" id="{{id}}" style="border-radius: 10px; background-color: rgb(117, 117, 117); border: rgb(32, 32, 32) 2px solid; padding: 4px; word-wrap: break-word;">
                        <h2>{{request.username | safe}} - {{request.request | safe }}</h2>
                        <p>{{ request.description | safe }}</p>
                        <button style="background-color: red; color:white;" onclick="handleRequestRemove(event, '{{id}}', '{{type}}')">Remove</button>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
        {% endfor %}
        <h1>Users</h1>
        <div id="users">
            {% for username,user in users.items() %}
            {% if not username == currentuser %}
                <div class="user" id="{{username}}" onclick="login(event, '{{username}}')" style="cursor: pointer;">
                    <h2 style="display:inline; cursor: pointer;">{{username}}</h2>
                    <p style="color: grey;display:inline;">{{ user.email }}</p>
                    <button style="background-color: red; color:white; display:absolute; margin-left: auto;margin-right: 0;" onclick="deleteUser(event, '{{username}}')">Remove</button>
                </div>
                {%endif%}
            {% endfor %}
        </div>
        <h1>Classes</h1>
        <div id="classes" style="grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));">
            {% for id,class in classes.items() %}
                <div class="class" id="{{class.room + p + class.period|string}}">
                    {% if class.period == currentperiod %}
                    <h2 style="display:inline;" class="currentclass">{{ class.name }}</h2>
                    {% else %}
                    <h2 style="display:inline;">{{ class.name }}</h2>
                    {% endif %}
                    <p class="room" style="color: grey;display:inline;">RM {{ class.room }}</p>
                    {% if (class.period == 6 or class.period == 7) and class.lunch == None %}<button style="background-color: rgb(0, 209, 94); color:white; display:absolute; margin-left: auto;margin-right: 0;" onclick="window.location.href = '/setlunch/?course={{id}}'">Set lunch</button>{%endif%}{%if not class.hidden%}<button style="background-color: red; color:white; display:absolute; margin-left: auto;margin-right: 0;" onclick="handleFormSubmit(event, '{{id}}')">Remove</button>{%endif%}
                </div>
            {% endfor %}
        </div>
    </div>
    <script>
        function handleFormSubmit(event, courseid) {
            const csrfToken = document.getElementById('csrf_token').innerText;
        
            const data = {
                course: courseid
            };
        
            fetch("/admin/deletecourse/", {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': csrfToken
                },
                body: JSON.stringify(data),
                credentials: 'include'
            })
            .then(response => {
                console.log('Response status:', response.status);
                return response.json(); // Parse the JSON from the response
            })
            .then(data => {
                console.log('Response data:', data);
                if (data.status === 'success') {
                    document.getElementById(courseid).remove();
                } else {
                    window.alert(data.message);
                }
            })
            .catch((error) => {
                console.error('Error:', error);
            });
            console.log("Form submission prevented");
        }
        function handleRequestRemove(event, requestid, requesttype) {
            const csrfToken = document.getElementById('csrf_token').innerText;
        
            const data = {
                id: requestid,
                type: requesttype
            };
        
            fetch("/admin/deleterequest/", {
                method: 'DELETE',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': csrfToken
                },
                body: JSON.stringify(data),
                credentials: 'include'
            })
            .then(response => {
                console.log('Response status:', response.status);
                return response.json(); // Parse the JSON from the response
            })
            .then(data => {
                console.log('Response data:', data);
                if (data.status === 'success') {
                    document.getElementById(requestid).remove();
                } else {
                    window.alert(data.message);
                }
            })
            .catch((error) => {
                console.error('Error:', error);
            });
            console.log("Form submission prevented");
        }
        function removeMessage(message) {
            const csrfToken = document.getElementById('csrf_token').innerText;
        
            const data = {
                message: message
            };
        
            fetch("/admin/removemessage/", {
                method: 'DELETE',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': csrfToken
                },
                body: JSON.stringify(data),
                credentials: 'include'
            })
            .then(response => {
                console.log('Response status:', response.status);
                return response.json(); // Parse the JSON from the response
            })
            .then(data => {
                console.log('Response data:', data);
                if (data.status === 'success') {
                    window.location.reload();
                } else {
                    window.alert(data.message);
                }
            })
            .catch((error) => {
                console.error('Error:', error);
            });
            console.log("Form submission prevented");
        }
        function deleteUser(event, user) {
            console.log("Deleting user: " + user);
            const csrfToken = document.getElementById('csrf_token').innerText;
            const data = {
                username: user
            };
            fetch("/admin/deleteuser/", {
                method: 'DELETE',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': csrfToken
                },
                body: JSON.stringify(data),
                credentials: 'include'
            }).then(response => {
                console.log('Response status:', response.status);
                return response.json(); // Parse the JSON from the response
            }).then(data => {
                console.log('Response data:', data);
                if (data.status === 'success') {
                    document.getElementById(user).remove();
                } else {
                    window.alert(data.message);
                }
            }).catch((error) => {
                console.error('Error:', error);
            });
        }
        function login(event, user) {
            console.log("Logging in as: " + user);
            const csrfToken = document.getElementById('csrf_token').innerText;
            const data = {
                username: user
            };
            fetch("/admin/login/", {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': csrfToken
                },
                body: JSON.stringify(data),
                credentials: 'include'
            }).then(response => {
                console.log('Response status:', response.status);
                return response.json(); // Parse the JSON from the response
            }).then(data => {
                console.log('Response data:', data);
                if (data.status === 'success') {
                    window.location.href = "/";
                } else {
                    if (data.message !== "Username does not exist") {
                        window.alert(data.message);
                    }
                }
            }).catch((error) => {
                console.error('Error:', error);
            });
        }
    </script>
</body>
</html>