<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/indexa.css">    <link rel="manifest" href="https://class.trey7658.com/manifest.json" />
    <title>Bookmarks</title>
    
</head>
<body>
    {% include 'navbar.html' %}
    <div id="content">
        <h1>Bookmarks</h1>
        <p>These are things that you can add to your bookmark bar. Add them by dragging the link to your bookmark bar.</p>
        <a href="https://class.trey7658.com/canvas/" style="color:white;">Canvas</a> - Brings you to the canvas page of your current class
    </div>
</body>
</html>