<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/indexa.css">    <link rel="manifest" href="https://class.trey7658.com/manifest.json" />
    <title>Home</title>
    <script defer data-domain="class.trey7658.com" src="https://analytics.trey7658.com/js/script.js"></script>
</head>
<body>
    {% include 'navbar.html' %}
    <div id="content">
        <h1 style="display:inline;">Welcome, {{ username }}!</h1>
        {% if devmode %}
            <p style="color: red;">This is a development build.</p>
        {% endif %}
        {% if not dayoff %}
        <!-- <h2>Today's Classes</h2> -->
        {% if not currentperiod == 0 %}<p>Period {{ currentperiod }}</p>
        <div id="timer" style="display: inline;"><p id="timertext"></p></div><button id="timer" onclick="window.location.href='/timer'" style="display: inline;">Full screen timer</button>{% endif %}
        <div id="classes">
            {% for class in classes|sort(attribute='period') %}
                {% if (not class.hidden) or (currentperiod == class.period) %}
                <div class="class" {%if class.canvasid != None %}onclick="window.location.href = 'https\://{{canvas_url}}/courses/{{class.canvasid}}'" style="cursor: pointer;"{%endif%}>
                    {% if class.period == currentperiod %}
                    <h2 style="display:inline;" class="currentclass">{{ class.name }}</h2>
                    {% else %}
                    <h2 style="display:inline;">{{ class.name }}</h2>
                    {% endif %}
                    <p class="room" style="color: grey;display:inline;">RM {{ class.room }}</p>
                    {% if (class.period == 6 or class.period == 7) and class.lunch == None %}<button style="background-color: rgb(0, 209, 94); color:white; display:absolute; margin-left: auto;margin-right: 0;" onclick="window.location.href = '/setlunch/?course={{class.room + p + class.period|string}}'">Set lunch</button>{%endif%}
                </div>
                {% endif %}
            {% endfor %}
        </div>
        {% else %}
        <h2>No classes today!</h2>
        {% endif %}
    </div>
    <script>
        let nKeyTimer;
        let nKeyPressed = false;

        document.addEventListener('keydown', function(event) {
            if ((event.key === 'n' || event.key === 'N') && !nKeyPressed) {
            nKeyPressed = true;
            nKeyTimer = setTimeout(function() {
                window.location.href = '/clearcolors/';
            }, 5000);
            }
        });

        document.addEventListener('keyup', function(event) {
            if (event.key === 'n' || event.key === 'N') {
            clearTimeout(nKeyTimer);
            nKeyPressed = false;
            }
        });
    </script>
    {% if not currentperiod == 0 %}<script>
        var countDownDate = new Date("{{nextclass}}").getTime();

        function updatetimer() {
            var now = new Date().getTime();
            var distance = countDownDate - now;
            var days = Math.floor(distance / (1000 * 60 * 60 * 24));
            var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
            var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
            var seconds = Math.floor((distance % (1000 * 60)) / 1000);
            if (hours === 0 && minutes === 0) {
                document.getElementById("timertext").innerHTML = seconds;
            } else if (hours === 0) {
                document.getElementById("timertext").innerHTML = minutes + "m " + seconds + "s ";
            } else {
                document.getElementById("timertext").innerHTML = hours + "h " + minutes + "m " + seconds + "s";
            }
            if (hours === 0 && minutes === 0 && seconds === 0) {
                clearInterval(x);
                document.getElementById("timertext").innerHTML = "0";
                setTimeout(function() {
                    location.reload();
                }, 10000);
            } else if (hours <= 0 && minutes <= 0 && seconds <= 0) {
                clearInterval(x);
                setTimeout(function() {
                    location.reload();
                }, 1100);
            }
        }
        updatetimer()
        var x = setInterval(updatetimer, 500);
    </script>{%endif%}
</body>
</html>