<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/indexa.css">    <link rel="manifest" href="//class.trey7658.com/manifest.json" />
    <title>Link device</title>
    
</head>
<body>
    {% include 'navbar.html' %}
    <div id="content">
        <h1>Link device</h1>
            <form id="loginForm" onsubmit="return handleFormSubmit(event)">
                <input type="hidden" id="csrf_token" name="csrf_token" value="{{ csrf_token() }}">
                    <label for="code">Code:</label>
                    <input type="text" id="code" name="code" required value="{{code}}" readonly><br><br>
                    <p>IP: {{ip}}</p>
                    {% if ip != currentip%}
                    <p style="color: red;">You do not have the same IP address as the device.</p>
                    {%endif%}
                    <input type="submit" value="Link">
                </form>
                {% if devmode %}
                    <p style="color: red;">This is a development build, your IP is: {{currentip}}</p>
                {% endif %}
            <p id="status"></p>
            <script>
                function handleFormSubmit(event) {
                    event.preventDefault();
                    const code = document.getElementById('code').value;
                    const csrfToken = document.getElementById('csrf_token').value;

                    const data = {
                        code: code
                    };
                
                    fetch(window.location.toString(), {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                            'X-CSRFToken': csrfToken
                        },
                        body: JSON.stringify(data),
                        credentials: 'include'
                    })
                    .then(response => {
                        console.log('Response status:', response.status);
                        return response.json(); // Parse the JSON from the response
                    })
                    .then(data => {
                        console.log('Response data:', data);
                        if (data.status === 'success') {
                            window.location.href = '/';
                        } else {
                            document.getElementById('status').innerText = data.message;
                            console.log('Error:', data);
                        }
                    })
                    .catch((error) => {
                        console.error('Error:', error);
                    });
                    console.log("Form submission prevented");
                }
            </script>
    </div>
</body>
</html>