<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/indexa.css">    <link rel="manifest" href="https://class.trey7658.com/manifest.json" />
    <title>Set canvas ID</title>
    <script>
        if (typeof course !== 'undefined') {
            document.getElementById('class').value = course.id;
        }
        function handleFormSubmit() {
            const csrfToken = document.getElementById('csrf_token').value;

            const data = {
                {% for id, course in courses.items() %}
                    '{{id}}': document.getElementById('{{id}}').value{% if not loop.last %},{% endif %}
                {% endfor %}
            };
        
            fetch(window.location.toString(), {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': csrfToken
                },
                body: JSON.stringify(data),
                credentials: 'include'
            })
            .then(response => {
                console.log('Response status:', response.status);
                return response.json(); // Parse the JSON from the response
            })
            .then(data => {
                console.log('Response data:', data);
                if (data.status === 'success') {
                    window.location.href = '/admin';
                } else {
                    document.getElementById('status').innerText = data.message;
                    console.log('Error:', data);
                }
            })
            .catch((error) => {
                console.error('Error:', error);
            });
            console.log("Form submission prevented");
        }
        
    </script>
    
</head>
<body>
    {% include 'navbar.html' %}
    <div id="content">
        <h1>Set canvas ID</h1>
            <form id="canvasID" onsubmit="console.log('Form submission prevented'); return false;">
                <input type="hidden" id="csrf_token" name="csrf_token" value="{{ csrf_token() }}">
                    {% for id, course in courses.items() %}
                        <label for="{{id}}">{{course.name}}:</label>
                        <select id="{{id}}" name="{{id}}" required>
                            <option value="None">None</option>
                            {% for cid, ccourse in ccourses.items() %}
                                <option value="{{cid}}">{{ ccourse }}</option>
                            {% endfor %}
                        </select><br>
                    {% endfor %}
                </form>
                <button onclick="handleFormSubmit();">Submit</button>
            <p id="status"></p>
            
    </div>
</body>
</html>