<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/indexa.css">    <link rel="manifest" href="https://class.trey7658.com/manifest.json" />
    <title>Set canvas ID</title>
    
</head>
<body>
    {% include 'navbar.html' %}
    <div id="content">
        <h1>Set canvas ID</h1>
            <form id="canvasID" onsubmit="console.log('Form submission prevented'); return false;">
                <input type="hidden" id="csrf_token" name="csrf_token" value="{{ csrf_token() }}">
                <label for="canvas_token">Canvas Token:</label>
                <input type="password" id="canvas_token" name="canvas_token" required>
            </form>
            <button onclick="submitToken()">Submit</button>
            <script>
                function submitToken() {
                    const token = document.getElementById('canvas_token').value;
                    window.location.href = `/setcanvasid?canvastoken=${encodeURIComponent(token)}`;
                }
            </script>
            <p id="status"></p>
            <p>Do NOT share your canvas token with anyone, it will be deleted after this.</p>
            <img src="/CreateToken.gif/" alt="Canvas Token Example" style="display: block; margin: 20px auto; max-width: 100%;">
    </div>
</body>
</html>