<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/indexa.css">    <link rel="manifest" href="https://class.trey7658.com/manifest.json" />
    <title>Sign up</title>
    
</head>
<body>
    <div id="content">
        <h1>Sign up</h1>
            <form id="loginForm" onsubmit="return handleFormSubmit(event)">
                    <input type="hidden" id="csrf_token" name="csrf_token" value="{{ csrf_token() }}">
                    <label for="username">Email:</label>
                    <input type="text" id="username" name="username" required><br><br>
                    <input type="submit" value="Sign up">
                </form>
            <p id="status"></p>
            <p>Already have an account? <a href="/login">Log in</a></p>
            <script>
                function handleFormSubmit(event) {
                    event.preventDefault();
                    const username = document.getElementById('username').value;
                    const csrfToken = document.getElementById('csrf_token').value;
                
                    const data = {
                        email: username
                    };
                
                    fetch(window.location.toString(), {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                            'X-CSRFToken': csrfToken
                        },
                        body: JSON.stringify(data),
                        credentials: 'include'
                    })
                    .then(response => {
                        console.log('Response status:', response.status);
                        return response.json(); // Parse the JSON from the response
                    })
                    .then(data => {
                        console.log('Response data:', data);
                        if (data.status === 'success') {
                            alert(data.message);
                            window.location.href = 'https://gmail.com';
                        } else {
                            document.getElementById('status').innerText = data.message;
                            console.log('Error:', data);
                        }
                    })
                    .catch((error) => {
                        console.error('Error:', error);
                    });
                    console.log("Form submission prevented");
                }
                
            </script>
    </div>
</body>
</html>