<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ClassFinder</title>
    <link rel="stylesheet" href="/index.css">
</head>
<body>
    {% include 'header.html' %}
    <main>
        <h1>Privacy Policy</h1>
        <p>ClassFinder is a web application that allows users to track their classes. This privacy policy explains how we collect, use, and store your data.</p>
        <h2>Information we collect</h2>
        <p>When you create an account, we collect your email address, username, and password. We also collect information about the classes you add to your account. No data is collected without an account.</p>
        <p>Some debug logs may be collected, like time taken to complete a request, this is never linked to you, and is only for improvement. No data is ever sold to a 3rd party.</p>
        <h2>How we use your information</h2>
        <p>Information is only used for site functionality and analytics.</p>
        <h2>How we store your information</h2>
        <p>Passwords are hashed before being stored. </p>
        <h2>How we share your information</h2>
        <p>No data is ever sent to a third party.</p>
        <h2>How to delete your information</h2>
        <p>If you would like to delete your account, go to your account and click "Delete account".</p>
        <h2>Warranty</h2>
        <p>ClassFinder is provided as-is, without warranty of any kind. We are not responsible for any damages that may occur as a result of using this site.</p>
        <h2>How to contact us</h2>
        <p>If you have any questions about this privacy policy, or would like us to delete analytics data, please email us at <a href="mailto:help@trey7658.com">help@trey7658.com</a>.</p>
    </main>
</body>
</html>